.side-nav {
    position:fixed;
    bottom: 0 !important;
    top: 50px !important;
    overflow: visible;
    height: auto !important;
}
.side-nav .categories-list {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 36px !important;
    overflow-y: auto;
}
.side-nav .buttons-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.side-nav .nav li {
    float:none;
    height:44px;
    width: 100%;
    background: rgba(0,0,0,.5);
    margin-bottom: 1px;
    cursor: pointer;
}
.side-nav .nav li .nav-body {
    display: block;
    position: absolute;
    height: 44px;
    left: 0;
    right: 25px;
    top: 0;
    bottom: 0;
    line-height: 16px;
    font-size: 12px;
    padding: 3px 0 5px 5px;
}
.side-nav .nav li .nav-body h4 {
    margin: 0 0 3px;
    font-size: 14px;
    line-height: 16px;
}
.side-nav .nav li:hover, .side-nav .nav li.active, .side-nav .nav li.active:hover {
    background: rgba(255, 170, 69, 1);
    color: #333;
}

.side-nav .nav li .btn-group .btn-xs {
    width: 22px;
    height:22px;
}
.btn {
    border-radius: 0;
    border:none;
}

/* levels view */
.levels-view {
    position:fixed;
    left: 230px;
    top: 50px;
    bottom: 0;
    right: 0;
}
.levels-placeholder {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 36px;
}
.levels-toolbar {
    position:fixed;
    left: 230px;
    bottom: 0;
    right: 0;
    height: 36px;
    background: rgba(51, 51, 51, 0.2);
}
/* modal */
.modal-header .close {
    color: #fff;
    opacity: .8;
}

.modal-header .close:hover {
    opacity: 1;
}

/* progress */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 200px;
    background: #fff;
    border: 1px solid #e8831e;

    overflow: hidden;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    max-width: 200px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #e8831e;
}

.pace.pace-inactive {
    display: none;
}
.form-control {
    color: #666;
}

/* override some alertify styles */

.alertify-notifier .ajs-message {
    background: rgba(255, 255, 255, 0.95);
    color: #000;
    text-align: left;
    font-size: 13px;
    font-weight: lighter;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 50px -10px rgba(0,0,0,.3);
}
.alertify-notifier .ajs-message.ajs-success,
.alertify-notifier .ajs-message.ajs-error,
.alertify-notifier .ajs-message.ajs-warning {
    text-shadow: none;
}